* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 50px;
  background-color: #ff9a4b;
}

main {
  width: 960px;
  margin: 50px auto;
  display: flex;
}

.box {
  width: 300px;
  padding: 10px;
  margin-right: 30px;
  background-color: #eeeeee;
  position: relative;
}

.box:nth-last-child(1) {
  margin-right: 0;
}

.img {
  height: 150px;
  background-size: cover;
  background-position: bottom;
}

.image1 {
  background-image: url(img/flow01.png);
}

.image2 {
  background-image: url(img/flow02.png);
}

.image3 {
  background-image: url(img/flow03.png);
}

h3 {
  margin-top: 15px;
  margin-bottom: 5px;
}

.text {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ff9a4b;
  color: white;
}

footer {
  height: 50px;
  background-color: #aaaaaa;
}

@media screen and (max-width: 768px) {
  main {
    width: 100%;
    display: block;
  }

  .box,
  .box:nth-last-child(1) {
    width: 90%;
    margin: 0 auto;
  }

  .box:nth-child(1),
  .box:nth-child(2) {
    margin-bottom: 20px;
  }
}
